.front-main {
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 85vh;
  
  background-color: white;
}
.front-video {
  background-color: rgb(255, 246, 169);
  width: 100%;
  max-width: 90%;
  min-width: 90%;
  margin: auto;

}
.front-video Card{
  min-width: 100%;
 
}
.front-btn button {
  background-color: cornsilk;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-top: 10px;
}
.front-btn button:hover{
background-color: white;

}
