.home-main {
  display: flex;
  flex-direction: column;
  text-align: center;

  height: 100vh;

  background-color: white;
}

.home-map-container {
  background-color:white;
  width: 90%;
  margin: 0 auto;
  height: 80%;
}

.home-map {
  margin: auto;
}
