.profile-main {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 172, 138);
}

.profile-map-container {
  background-color: rgb(255, 240, 109);
  width: 90%;
  margin: 0 auto;
  height: 400px;
}

.profile-map {
  margin: auto;
}
