.profile-main {
  display: flex;
  flex-direction: column;
  text-align: center;
 
  background-color:white; 
 
  
}
.profile-main button{
  text-align: center;
  margin: auto;
  width: 100px;
}

.text-center button {
  
  margin-right:2px;
  margin-left: 2px;
}

.store-add-input input{
border:black 1px solid ;

width: 300px;
border-radius: 25px;
text-align: center;
margin-bottom: 10px;
height:40px ;
outline:none;


}
input:focus::placeholder {
  color: transparent;
}
.menu-display {

display: inline-block;

}
.profile-map-container {
  
  width: 95%;
  margin: auto;
  margin-bottom: 35px;
  height: 500px;
}

.profile-map {
  margin: auto;
}
.btn-primary {
  color: #212529;
  background-color: rgb(243, 234, 205);;
  border-color: rgb(243, 234, 205);
 
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border-color:black;
  
}
.btn-primary-del{
 
  background-color: rgb(243, 234, 205);;
  border-color: rgb(243, 234, 205);
}
.btn-primary-del:hover{

  color: #212529;
  background-color: rgb(252, 164, 164);
  border-color:black;
}